body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    height: 20vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    color: black;
    margin-bottom: 0;
}


/* google font */
.rye-regular {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}

#current-depth {
    position: fixed;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

.depth-section {
    position: relative;
    z-index: 1;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

#sunlight-zone {
    background: linear-gradient(to bottom, #87CEEB, #014780);
}

#twilight-zone {
    background: linear-gradient(to bottom, #014780, #01192d);
}

#midnight-zone {
    background: linear-gradient(to bottom, #01192d, #000814);
}

#abyss-zone {
    background: linear-gradient(to bottom, #000814, #000000);
}

#hadal-zone {
    background-color: #000000;
}


.image-container {
    position: static;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    z-index: auto;
}


.sunlight-left,
.twilight-left,
.midnight-left,
.abyss-left,
.hadal-left {
    display: flex;
    flex-direction: column;
    margin-right: 400px;
}

.side-image {
    width: 200px;
    height: auto;
    position: relative;
}

.two-side-image {
    width: 150px;
    height: auto;
    position: relative;
}

.large-side-image {
    width: 300px;
    height: auto;
    position: relative;
}

.large-large-side-image {
    width: auto;
    height: 400px;
    position: relative;
}

/* the "transform" property learned from ChatGPT */
.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
}

.creature {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: auto;
}

/* the transition property learned from ChatGPT */
.info {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    z-index: 9999 !important;
    opacity: 0;
    transition: opacity 0.3s;
}

/* the hover effect learned from ChatGPT */
.creature:hover .info {
    visibility: visible;
    opacity: 1;
}


#abyss-zone,
#midnight-zone,
#twilight-zone,
#sunlight-zone {
    padding-bottom: 50px;
}

#fish {
    margin-bottom: 50px;
}

#squid {
    margin-top: 30px;
    transform: rotate(160deg)
}

#whale {
    margin-top: 50px;
    transform: rotate(95deg);

}

#titanic {
    margin-left: 50px;
}


#titanic-container {
    position: relative;
    z-index: 200;
    margin-left: 85px;
}


.hover-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}



.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideshow-text {
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

/* the hover slideshow effect learned from ChatGPT */
#titanic-container:hover .hover-slideshow {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    display: block;
}

#titanic-container:hover .slideshow-text {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

footer {
    color: black;
    text-align: center;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.openModal-source {
    background-color: skyblue;
    padding: 10px;
}


.openModal-two {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 300;
}

.modalBackground {
    display: none;
    background-color: rgba(0, 0, 0, .65);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    width: 500px;
    height: 400px;
    z-index: 10000000;
    overflow-y: auto;
    position: fixed;

}

.modalHeader {
    display: flex;
    justify-content: end;
}

.closeButton {
    margin: 10px 20px;
    font-size: 24px;

}

/* transform property here learned from ChatGPT */
.creature:hover .openModal-two {
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transform: translate(-50%, -50%) scale(1.1);
}

#sharedModal {
    color: black;
    text-align: center;
}

.modalContent h2 {
    text-align: center;
}

.modalContent ul {
    text-align: left;
}

@media (max-width: 935px) {

    #titanic {
        width: 200px;
    }

    #squid {
        width: 140px;
    }

    .sunlight-left {
        margin-right: 180px;
    }
}

@media (max-width: 870px) {

    .sunlight-left,
    .twilight-left,
    .midnight-left,
    .abyss-left,
    .hadal-left {
        margin-right: 180px;
    }

    .large-side-image {
        width: 200px;
    }
}

@media (max-width: 1145px) {

    .midnight-left,
    .hadal-left {
        margin-right: 150px;
    }

    .hadal-left {
        margin-bottom: 100px;
    }
}

@media (max-width: 620px) {


    .side-image {
        width: 150px;
    }

    .large-large-side-image {
        width: 150px;
    }
}

@media (max-width: 550px) {
    .modal {
        width: 90%;
        max-width: 290px;
        height: auto;
        max-height: 60%;
        padding: 10px;
        overflow: auto;
    }

    .closeButton {
        font-size: 20px;
    }

    .depth-section {
        height: 70vh;
    }

    .abyss-left {
        margin-bottom: 110px;
    }

    #abyss-zone {
        padding-bottom: 60px;
    }

}

@media (max-width: 370px) {

    .midnight-left,
    .hadal-left,
    .abyss-left {
        margin-right: 0;
    }


    .sunlight-left {
        margin-bottom: 70px;
    }

    .twilight-left {
        margin-right: 50px;
    }

    .hadal-left {
        margin-bottom: 200px;
    }

    .sunlight-left {
        margin-right: 50px;
    }

    #octopus {
        width: 100px;
        height: auto;
    }

    .midnight-left {
        margin-bottom: 120px;
    }

    #titanic-container {
        margin-left: 0;
    }
}